[Unit]
Description=Firewall Knock Operator Daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
RuntimeDirectory=fwknop
RuntimeDirectoryMode=0700
ExecStart=/usr/sbin/fwknopd --foreground
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
